/*------------------------------------------------------------------
[Table of contents]
1. 	
2. 	
3. 	
4. 	
5. 	
6. 	
7. 	
8. 	
9. 	
10. Compare
------------------------*/
/*----------------
Styles for devices max 1200px
*/
@media (min-width: 1200px) {
  .container {
    width: 1000px;
  }
}

/*----------------
Styles for devices max 991px
*/
@media (max-width: 991px) {
  .container {
    width: auto;
  }
}

/*----------------
Styles for devices max 800px
*/
@media (max-width: 800px) {
	
}
/*----------------
Styles for devices max 992px and min 320px
*/
@media (max-width: 992px) and (min-width: 320px) {
  .container {
    padding-left: 15px;
    padding-right: 15px;
  }
  .container-fluid {
    padding-left: 15px;
    padding-right: 15px;
  }
}
/*----------------
Styles for devices max 767px
*/
@media (max-width: 767px) {
	
}
/*----------------
Styles for devices max 600px
*/
@media (max-width: 600px) {
	
}
/*----------------
Styles for devices max 480px
*/
@media (max-width: 480px) {
	
}
/*----------------
Styles for devices max 375px
*/
@media (max-width: 375px) {
	
}

/*----------------
Styles for devices max 320px
*/
@media (max-width: 320px) {
	
}